/*html{
	scroll-behavior: smooth;
}*/
*{
	margin: 0 ;
	padding: 0;
	
	box-sizing: border-box;
	
}
body{
	background-color: #1a1c20;
	color: #fdfbfb;
	overflow-x: hidden;
}
.nav ul{
	display: flex;
	list-style: none;
	
	justify-content:flex-end;

}

/*.center{
	
	display: flex;
	list-style: none;
	
	justify-content:center;
	align-items: center;

}*/
.nav{
	width:85%;
	height: 70px;
	margin: 0 auto;
	justify-content: space-between;


 

}
.checkbtn{
	display: none;
}

.nav ul a{
	text-decoration: none;
	color: #fcf1b4;
	margin: 0.3em;
	/*background-color: #f9813a;*/
	padding: 0.5em 1.5em;
	border-radius: 10px;

}
.nav ul a:hover{
	background-color: #A239EA;
	box-shadow: 0 0 10px inset;
	transition: background 1s;

}


.main{
	width: 80%;
	height: 650px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;

}
.main::before,.main::after{
	content: "";
	width: 80%;
	height: 70%;
	background-color: #151618;
	position: absolute;
	bottom: 0;
	right: -15%;
	z-index: -11;
}
.main::after{
	background: #151618;
	height: 60%;
	top:20px;
	left:-40%;
	border-top:1px solid #f9803a;
	border-right:1px solid #4985c9;
	z-index: -12;
}
.myself h1{
	font-size: 4.5em;
	margin-bottom: 0.2em;

}
.myself p{
	font-size: 1.2em;
	color: #fcf1b4;
	margin-bottom: 1.2em;
}
.myself .resume{
	font-size: 1.0em;
	background: none;
	color: #fcf1b4;
	border:1px solid black;
	cursor: pointer;
	width: 7em;
	height: 2.2em;

}

.myself .resume:hover{
	background-color: #A239EA;
	box-shadow: 0 0 10px inset;
	transition: all 0.4s;

}
#profile-img{
	width: 30em;
	position: absolute;
	right: 60px;
	top:100px;
	z-index: -1;
}

@media only screen and (max-width: 1250px) and (min-width: 1000px){
	#profile-img{
		width: 25em;
		right: 0;
	}
    



}
@media only screen and  (max-width: 1000px) and (min-width:900px){
	body{
		font-size: 14px;
	}
	#profile-img{
		width: 35em;
		top:80px;


	}
	.main{
		align-items: flex-end;
	}
	.checkbtn{
		display: block;
		width: 25px;
		height: 25px;
		cursor: pointer;
		position: relative;
		appearance:none;
		-webkit-appearance:none;

	}
	.checkbtn::before{
		content: '\f0c9';
		font-weight: 700;
		font-size: 1.9em;
		color: #fcf1b4;

	}
	.checkbtn:checked::before{
		content: '\f00d';
	}
	.nav ul{
		/*display: none;*/
		position: absolute;
		top: 80px;
		width: 100%;
		flex-direction: column;
		background-color: #1a1c20;
		left :0;
		z-index: 110;
		padding: 1.2em;
		clip-path: polygon(0 0,100% 0, 100% 0,0 0);
		transition: clip-path 0.5s;

	}
	.checkbtn:checked ~ ul{
		clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);


	}

	
	.nav ul::before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 10px;
		background-color:#A239EA; 

	}

}

@media only screen and (max-width: 900px) and (min-width:600px){
	
	#profile-img{
		width: 30em;
	}

}
@media only screen and   (max-width: 600px) and (min-width:400px){
	
	#profile-img{
		width: 22em;
	}

}
@media only screen and (max-width: 400px){
	body{
		font-size: 10px;

	}
	
	.main{
		height: 450px;
	}

}
